name: Check
on:
  push:
    branches:
      -main
  pull_request:
  merge_group:
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # In case of an update, also update the required checks in GitHub's branch protection rules.
        java: [ '17', '21', '24' ]
    name: Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew check --info
