name: Lint
on:
  push:
    branches:
      -main
  pull_request:
  merge_group:
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v5
      - name: Lint
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: '**/*.md'
